
.homepage{
  margin: 5em 1.5em 0;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  font-size:1em
}

.homepage h1{
  font-size: 2.5em;
  margin-bottom: 0.3em
}

.imgIntro{
  margin: 1.5em;
  object-fit: contain;
  width:90%;
  box-shadow:
  0 2.8px 15.2px rgba(0, 0, 0, 0.050),
  0 6.7px 18.3px rgba(0, 0, 0, 0.060),
  0 12.5px 23px rgba(0, 0, 0, 0.070),
  0 22.3px 30.9px rgba(0, 0, 0, 0.080),
  0 41.8px 46.4px rgba(0, 0, 0, 0.090),
  0 80px 80px rgba(0, 0, 0, 0.080);
  border-radius: 5px;
}

#store{
  margin-top: 4em
}

article{
  display:flex;
  font-size: 0.8em;
  justify-content: space-between; 
  align-items: center;
  padding: 0 3em ;
  height: 5em;
  border-bottom:1px solid rgb(235, 235, 235);
  box-shadow: 0px 3px 100px rgba(37, 103, 134,0.1); 
  border-radius: 2px;
  width: 100vw;
}

article p{
  text-align: start;
  width: 60%
}

.articleBox,
.orderList{
  display:flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: space-evenly;
}

.articlesBox{
  height: 10em
}

.servicesShort a{
  display:block;
  text-decoration: none;
  color: #256786;
  font-size: 0.7em;
  text-align: end;
  padding-right: 2em;
}

.servicesShort hr{
  width: 35%;
  margin-top: 2em
}

.servicesShort{
  margin-bottom:2.5em
}

.servicesShort article{
  margin: 0.5em 0
}

@media (min-width: 1225px) {

  .homepage{
    margin-top: 8em;
    font-size: 1.1em;
  }
  .intro{
    text-align: center;
    margin: 1em 5em
  }

  .homepage hr{
    width: 25vw
  }

  .imgIntro{
    width: 50vw
  }

  article{
    font-size: 1em;
    width: 50vw;
    margin:0;
    padding:0;
    justify-content: space-evenly;
  }

 .servicesShort a{
   font-size: 1em
 }



}

