/* TABLET OR MOBILE*/

@media (max-width: 1224px) {

  .navbar {
    background-color: #FDD7D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 5px 10px #b6b7b8;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .cart,
  .avatar {
    width: 2em;
    object-fit: contain;
  }

  #burger,
  .navbar-container {
    margin: 0 0.5em
  }

  .avatar {
    margin-right: 0.3em
  }

  .icon {
    width: 3.5em;
    margin-left: 1em
  }

  .navbar-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
  }

  /* ************ TOGGLE MENU BURGER ****************** */

  #burger {
    overflow:hidden;
    cursor:pointer;
    transition:all .5s;
    text-align:center;
    color:#256786;
    font-size:2em;
    margin-left:0.2em
  }



  #menu li{
      height:2em;
      line-height:1em;
      padding:0 5em;
      border-bottom:1px solid #b6b7b8;
      background:#256786;
      list-style: none;
      font-size: 0.8em;
  }



  #menu a{
    text-decoration: none;
    color:#FDD7D3;
   
  }

  #burger::after{
    content:'x'
  }

  #burger.close{
    font-size:3.5em;
    color:#256786;

  }

  #burger.close::after{
    content:'≡';
  }

  #menu{
    height:7em;
    background:#256786;
    transition:transform 0.5s;
    position:absolute;
    top:3.5em;
    width:115%;
    transform:translateX(-100em);
  }

  #menu.show-menu{
  transform:translateX(-3em);
  }
  
}

/* DESKTOP */

@media (min-width: 1225px) {
  .navbar {
    background-color: #FDD7D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 5px 10px #b6b7b8;
    height: 6em
  }

  .burgerImg,
  .cart,
  .avatar {
    width: 3em;
    object-fit: contain;
  }

  .burgerImg,
  .navbar-container {
    margin: 0 1em
  }

  .avatar {
    margin-right: 2em
  }

  .icon {
    width: 5.5em;
    margin-left: 1em
  }

.navbar-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  
}

.navbar-container a{
  text-decoration: none;
  color:#256786;
}

.navbar-container a:hover{
  color:#3ca8da;
}

.navbar-container p{
  font-size: 1.5em;
  padding-right: 3em
}



}



  