/* TABLET OR MOBILE*/

@media (max-width: 1224px) {

  .navbar {
    background-color: #FDD7D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 0 5px 10px #b6b7b8;
    height: 5em;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .cart,
  .avatar {
    width: 1.8em;
    object-fit: contain;
  }

  #burger,
  .navbar-container {
    margin: 0 0.5em
  }

  .avatar {
    margin-right: 0.3em
  }

  .icon {
    width: 5.5em;
    margin:0.5em 0 0 1.5em
  }

  .navbar-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
  }


  /* ************ TOGGLE MENU BURGER ****************** */

  #burger{
    text-align:center;
    color:#256786;
    font-size:4em;
    margin-left:0.1em;
  }

  .iconCloseMenu{
    position:absolute;
    top:20%;
    left:80%;
    font-size:1.5em;
    color:#256786;
  }


  #menu li{
      height:2em;
      line-height:1em;
      padding:-1em 5em;
      border-bottom:1px solid #b6b7b8;
      background:white;
      list-style: none;
      font-size: 1.5em;
      text-align: center;

  }



  #menu a{
    text-decoration: none;
    color:#256786;
   
  }

  #menu ul {
    padding-left:0;
    
    }


  .hidden-menu{
    height:100vh;
    background:white;
    position:absolute;
    top:0;
    left:0px;
    align-items: center;
    width:100vw;
    justify-content:space-evenly;
    display:flex;
    opacity:0;
    transition: opacity 0.3s;
    pointer-events:none;
  }

.show-menu{
    pointer-events:initial;
    opacity:1 ;
  }
  
}

/* DESKTOP */

@media (min-width: 1225px) {
  .navbar {
    background-color: #FDD7D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 5px 10px #b6b7b8;
    height: 6em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 200;
  }

  .burgerImg,
  .cart,
  .avatar {
    width: 3em;
    object-fit: contain;
  }

  .burgerImg,
  .navbar-container {
    margin: 0 1em
  }

  .avatar {
    margin-right: 2em
  }

  .icon {
    width: 5.5em;
    margin-left: 1em
  }

.navbar-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  
}

.navbar-container a{
  text-decoration: none;
  color:#256786;
}

.navbar-container a:hover{
  color:#3ca8da;
}

.navbar-container p{
  font-size: 1.5em;
  padding-right: 3em
}



}



  