.services{
  margin-top :6em
}
.services h3{
  margin:2em 0;
  text-align: center;
}

.services h4{
  margin-left:1em
}

.services img{
  width :100vw
}

.priceDetail{
  display:flex;
  flex-direction: column;
  width: 10em
}

.serviceDetails{
  margin: 1em 0;
  padding:0.3em 1.5em;
  height: 100%;
  justify-content: space-between;
  text-align: end;
}

.cartFid{
  font-size: 0.7em;
  text-align: center;
  margin:2em 
}

@media (min-width: 1225px) {
  .services h3{
    font-size: 2em
  }

  .services h4{
    font-size:1.5em
  }

  .servicesCategory{
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  .services p, .services span{
    font-size: 1.1em;
  }

  .cartFid{
    font-size: 1em;
  }
}