.detailsPdt{
  margin-top: 6em;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100vw
}

.detailsPdt img{
  width: 15em;
  /* object-fit: contain; */
  margin: 2em 0 
}

.detailsPdt h3{
  width: 100vw ;
  text-align: center;
}

.already{
  width: 100vw;
  text-align:center
}

.qtyBox input{
  border: none;
  width: 2em;
  text-align: center;
}

.qty{
  width: 12em;
  display:flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.qtyBox{
  box-shadow: 10px 10px 10px rgba(0, 0, 0,0.1);
}

.price span{
  font-size: 1.5em;
  font-weight: bold;
}

.price{
  text-align: center;
  display:flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.btnup,
.btndown{
  color:#256786;
  border: 1px solid rgb(235, 235, 235);
  padding: 0.25em 0.5em;
  box-shadow:none
}

.btnup:active,
.btndown:active{
  color:white;
  background-color: #256786;
}

.detailsPdt a{
  text-decoration: none;
  color : #256786;
  width: 100vw;
  text-align: end;
  padding-right: 2em;
  font-size: 0.8em
}

section{
  display:flex;
  flex-direction:column;
  font-size: 0.8em;
  justify-content: space-between; 
  align-items: center;
  padding: 0 3em ;
  border-bottom:1px solid rgb(235, 235, 235);
  box-shadow: 0px 3px 100px rgba(37, 103, 134,0.1); 
  border-radius: 2px;
  width: 100vw;
  margin:3em 0;
}

.btnaddcart{
  margin-top:1em
}





