.product-category{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-card{
  width: 80%;
  height: 50%;
  margin: 0 0.5em
}

.productStore h2{
  padding:1em 0 0.5em;
  font-weight: bold;
}

.productStore{
  width: 100vw
}

hr{
  margin-bottom:2em;
  width :30%;
}

.hrFirst{
  margin-top: 0;
  width :45%;
}

.carousel-items{
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0 0;
  scroll-snap-type: x mandatory;
  list-style: none;
}

.product-card{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 450px;
  scroll-snap-align: center;
  margin-left: 1rem;
  
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  height: 0px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 3px;
}

h3{
  margin-bottom:0
}

.product-card img{
  width: 50%;
  object-fit: contain;
  border-radius: 3px;

}

.imgCarte{
  box-shadow:
  0 12.5px 23px rgba(0, 0, 0, 0.070),
  0 22.3px 30.9px rgba(0, 0, 0, 0.080),
  0 41.8px 46.4px rgba(0, 0, 0, 0.090)
}



/* BUTTON */

.btn-container button {
  padding: 1em 0.5em;
  margin: 0 0.6em 1em;
  width: 10em;
  border: 1px solid rgb(235, 235, 235);
  font-size: 0.8em
}

.btn-container a {
  color:#dfbcb8;
  text-decoration: none;
}

.btn{
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0,0.1); 
  font-weight: bold;
}

.details{
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0,0.1);
}

.btncart{
  color:#256786;
}

.btncart:active{
  color:white;
  background-color: #256786;
  
}

.details:active{
  background-color: #dfbcb8;
}

.details:active a{
  color:white;
}



.hidden{
  visibility: hidden;
}

.btn-container p{
  padding-bottom:0;
  margin-bottom:0
}

@media (min-width: 1225px) {

  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar {
    height: 1vh;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 3px;
  }

  .product-card img{
    width: 18em;
    object-fit: contain;
    border-radius: 3px;
  }

  .productStore{
    width: 85vw
  }
  
}