.signup{
  margin: 7.5em 1.5em 0;
  font-size:0.9em;
  text-align: center;
}

.signup form,
.dashboard form,
.infoUser form{
  margin-top: 2em;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}
.signup form{
  height: 40em;
}


.signup input,
.dashboard input,
.infoUser input{ 
  border:none;
  padding:0.4em 0.6em;
  width: 80vw;
  border-bottom:1px solid rgb(219, 219, 219);
  box-shadow: 0px 1px 8px rgba(0, 0, 0,0.1);
  border-radius: 5px;
  margin-top:0.3em 0
}

.signup label,
.dashboard label,
.infoUser label{
  display:flex;
  flex-direction: column;
  color:#cfa5a1;
  text-align: start;
}

.signup .btn,
.dashboard .btn,
.infoUser .btn{
  width: 20em;
  border: 1px solid rgb(235, 235, 235);
  font-weight: bold;
  font-size: 0.8em;
  padding: 1em 0em;
}

.btnsignup:active{
  color:white;
  background-color: #256786;
}

.signup a{
  text-decoration: none;
  color: #dfbcb8;
}

.btnsignup{
  color: #256786;
}

.btnlogin:active{
  background-color: #dfbcb8;
}

.btnlogin:active a{
  color:white;
}



