.order{
  margin-top: 1.2em;
  height: 6em;
  font-size: 0.7em;
}

.order a,
.confirm a{
  text-decoration: none;
  color:#256786;
}

.confirm h3{
  text-align :center;
  margin-bottom : 1em
}

.confirm{
  margin: 7em 1.5em 2em;
  text-align:justify;
}

.confirmLink{
  display:flex;
  justify-content: space-evenly;
  margin-top: 2em
}

.orderDetails{
  margin-top: 7em
}

.orderDetails h3,
.status{
  text-align:center
}

.productDetails{
  font-size: 0.7em;
  height: 6em;
 
}

.productDetails p{
  width: 40%;
}

.totalOrderDetails{
  text-align: end;
  margin: 2em 2em;
  font-size: 0.95em
}

.deliveryOtions{
  text-align: center;
  margin-bottom: 2em
}

.deliveryAdress,
.billingAdress {
  margin-bottom: 2em;
  font-size: 0.85em
}

.status{
  margin-bottom:2em
}

@media (min-width: 1225px) {
  .order{
    text-align: center;
  }
}